@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: transparent;
}

.background {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-image: url('../../assets/images/achtergrond.png');
  background-position: center;
  background-size: cover;
  filter: blur(7px);
  -webkit-filter: blur(7px);
  position: absolute;
  z-index: -1;
}

/* FONTS/LETTERTYPES/H1....6 */

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-weight: 1000;
  color: white;
}


#active {
  color: white;
  opacity: 100%;
  border-bottom: 4px solid #2FE6DE;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}


a h3.sluiten.faqsluiten {
  justify-content: center;
  text-align: center;
  padding-left: 870px;
  width: auto;
  margin-bottom: 10px;

}

a h3.sluiten {
  justify-content: center;
  text-align: center;
  padding-left: 870px;
  color: white;
  width: auto;
  margin-bottom: 10px;

}


/* POP UP */
.pop-up {
  position: relative;
  background-color: #E4DFEB;
  border-radius: 29px;
  width: 65vw;
  height: 83vh;
  z-index: 0;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.pop-up img.coverphoto {
  border-radius: 29px 29px 0px 0px;
  width: 100%;
  height: 325px;
  object-fit: cover;
}

.pop-up p {
  padding-bottom: 50px;
}

.pop-up img.logobackground {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 80px;
  height: 250px;
  transform: rotate(150deg);

}

.pop-up img.logobackground2 {
  position: absolute;
  z-index: -1;
  right: 150px;
  height: 250px;
  transform: rotate(0deg);

}

.pop-up img.logobackground3 {
  position: absolute;
  z-index: -1;
  left: 50px;
  height: 250px;
  transform: rotate(180deg);

}

.pop-up img.logobackground4 {
  position: absolute;
  z-index: -1;
  bottom: 30px;
  left: 350px;
  height: 250px;
  transform: rotate(190deg);

}

.pop-up img.logobackground5 {
  position: absolute;
  z-index: -1;
  left: 650px;
  height: 250px;
  transform: rotate(90deg);

}

.pop-up img.logobackground6 {
  position: absolute;
  z-index: -1;
  left: 50px;
  height: 250px;

}

.pop-up h2 {
  padding-top: 30px;
  font-weight: bold;
  font-size: 35px;
  color: #766889;
  float: left;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pop-up h2,
h4,
p {
  margin-left: 10%;
}

.pop-up p {
  margin-right: 10%;
}

.pop-up h3 {
  float: right;
  margin-top: 45px;
  margin-right: 10%;
  font-size: 20px;

}

.pop-up h4 {
  margin-top: 110px;
}

/* WEBGL/STANDAARDMENU */

.standaardmenu {
  justify-content: center;
  text-align: center;
}

.standaardmenu h1 {
  display: inline-block;
  text-decoration: none;
  color: white;
  opacity: 75%;
  margin-left: 3vw;
  margin-right: 3vw;
  font-size: 2vw;
  margin-bottom: 1.5vh;
}

.standaardmenu h1:hover {
  color: white;
  opacity: 100%;
}

/*FAQ*/
.titelBtn h5 {
  margin-top: 5vh;
  margin-left: 25px;
  font-size: 17px;
  text-align: left;
  line-height: 30px;
  cursor: pointer;

}

.titelBtn {
  margin-left: 20px;
  margin-top: 10px;

}

.active {
  color: #766889;
}

.results {
  display: none;
}

.results:first-child {
  display: block;
}

.hideInfo h5 {
  align-items: flex-start;
  font-size: 20px;
  margin-left: 10%;
  color: #766889;
  padding-top: 55px;
}

.hideInfo {
  background-color: white;
  border-radius: 0px 29px 29px 0px;
  width: 60%;
  margin-left: 175px;
  height: 83vh;
  font-size: 17px;
  line-height: 30px;
}

.items:hover {
  color: #766889;
}

.faq {
  display: flex;
  align-items: flex-start;
}

.logobackgroundFaq {
  position: absolute;
  z-index: 0;
  right: 20px;
  bottom: 25px;
  height: 250px;
  transform: rotate(100deg);
}

.linkTo2D {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  right: 0;
  top: 0%;
  padding: 15px;
  color: white;
  background-color: #CD9DC8;
}
